<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miaoyou.platform.server.mapper.LogtbMapper" >
  <cache />
  <resultMap id="BaseResultMap" type="com.miaoyou.platform.server.entity.Logtb" >
    <id column="log_id" property="logId" jdbcType="INTEGER" />
    <result column="operate_name" property="operateName" jdbcType="VARCHAR" />
    <result column="operate_date" property="operateDate" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="user_department" property="userDepartment" jdbcType="VARCHAR" />
    <result column="extra_string" property="extraString" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    log_id, operate_name, operate_date, content, user_department, extra_string
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.miaoyou.platform.server.entity.LogtbExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from logtb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="groupby != null" >
      group by ${groupby}
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from logtb
    where log_id = #{logId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from logtb
    where log_id = #{logId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.miaoyou.platform.server.entity.LogtbExample" >
    delete from logtb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.miaoyou.platform.server.entity.Logtb" >
    insert into logtb (log_id, operate_name, operate_date, 
      content, user_department, extra_string
      )
    values (#{logId,jdbcType=INTEGER}, #{operateName,jdbcType=VARCHAR}, #{operateDate,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=VARCHAR}, #{userDepartment,jdbcType=VARCHAR}, #{extraString,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.miaoyou.platform.server.entity.Logtb" >
    insert into logtb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        log_id,
      </if>
      <if test="operateName != null" >
        operate_name,
      </if>
      <if test="operateDate != null" >
        operate_date,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="userDepartment != null" >
        user_department,
      </if>
      <if test="extraString != null" >
        extra_string,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        #{logId,jdbcType=INTEGER},
      </if>
      <if test="operateName != null" >
        #{operateName,jdbcType=VARCHAR},
      </if>
      <if test="operateDate != null" >
        #{operateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="userDepartment != null" >
        #{userDepartment,jdbcType=VARCHAR},
      </if>
      <if test="extraString != null" >
        #{extraString,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.miaoyou.platform.server.entity.LogtbExample" resultType="java.lang.Integer" >
    select count(*) from logtb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update logtb
    <set >
      <if test="record.logId != null" >
        log_id = #{record.logId,jdbcType=INTEGER},
      </if>
      <if test="record.operateName != null" >
        operate_name = #{record.operateName,jdbcType=VARCHAR},
      </if>
      <if test="record.operateDate != null" >
        operate_date = #{record.operateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.userDepartment != null" >
        user_department = #{record.userDepartment,jdbcType=VARCHAR},
      </if>
      <if test="record.extraString != null" >
        extra_string = #{record.extraString,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update logtb
    set log_id = #{record.logId,jdbcType=INTEGER},
      operate_name = #{record.operateName,jdbcType=VARCHAR},
      operate_date = #{record.operateDate,jdbcType=TIMESTAMP},
      content = #{record.content,jdbcType=VARCHAR},
      user_department = #{record.userDepartment,jdbcType=VARCHAR},
      extra_string = #{record.extraString,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.miaoyou.platform.server.entity.Logtb" >
    update logtb
    <set >
      <if test="operateName != null" >
        operate_name = #{operateName,jdbcType=VARCHAR},
      </if>
      <if test="operateDate != null" >
        operate_date = #{operateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="userDepartment != null" >
        user_department = #{userDepartment,jdbcType=VARCHAR},
      </if>
      <if test="extraString != null" >
        extra_string = #{extraString,jdbcType=VARCHAR},
      </if>
    </set>
    where log_id = #{logId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.miaoyou.platform.server.entity.Logtb" >
    update logtb
    set operate_name = #{operateName,jdbcType=VARCHAR},
      operate_date = #{operateDate,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      user_department = #{userDepartment,jdbcType=VARCHAR},
      extra_string = #{extraString,jdbcType=VARCHAR}
    where log_id = #{logId,jdbcType=INTEGER}
  </update>
</mapper>