<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miaoyou.platform.server.mapper.PkgeneratorMapper" >
  <cache />
  <resultMap id="BaseResultMap" type="com.miaoyou.platform.server.entity.Pkgenerator" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="targetTable" property="targettable" jdbcType="VARCHAR" />
    <result column="pkColumnName" property="pkcolumnname" jdbcType="VARCHAR" />
    <result column="initialValue" property="initialvalue" jdbcType="INTEGER" />
    <result column="allocationSize" property="allocationsize" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, targetTable, pkColumnName, initialValue, allocationSize
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.miaoyou.platform.server.entity.PkgeneratorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pkgenerator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="groupby != null" >
      group by ${groupby}
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pkgenerator
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pkgenerator
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.miaoyou.platform.server.entity.PkgeneratorExample" >
    delete from pkgenerator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.miaoyou.platform.server.entity.Pkgenerator" >
    insert into pkgenerator (id, targetTable, pkColumnName, 
      initialValue, allocationSize)
    values (#{id,jdbcType=INTEGER}, #{targettable,jdbcType=VARCHAR}, #{pkcolumnname,jdbcType=VARCHAR}, 
      #{initialvalue,jdbcType=INTEGER}, #{allocationsize,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.miaoyou.platform.server.entity.Pkgenerator" >
    insert into pkgenerator
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="targettable != null" >
        targetTable,
      </if>
      <if test="pkcolumnname != null" >
        pkColumnName,
      </if>
      <if test="initialvalue != null" >
        initialValue,
      </if>
      <if test="allocationsize != null" >
        allocationSize,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="targettable != null" >
        #{targettable,jdbcType=VARCHAR},
      </if>
      <if test="pkcolumnname != null" >
        #{pkcolumnname,jdbcType=VARCHAR},
      </if>
      <if test="initialvalue != null" >
        #{initialvalue,jdbcType=INTEGER},
      </if>
      <if test="allocationsize != null" >
        #{allocationsize,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.miaoyou.platform.server.entity.PkgeneratorExample" resultType="java.lang.Integer" >
    select count(*) from pkgenerator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pkgenerator
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.targettable != null" >
        targetTable = #{record.targettable,jdbcType=VARCHAR},
      </if>
      <if test="record.pkcolumnname != null" >
        pkColumnName = #{record.pkcolumnname,jdbcType=VARCHAR},
      </if>
      <if test="record.initialvalue != null" >
        initialValue = #{record.initialvalue,jdbcType=INTEGER},
      </if>
      <if test="record.allocationsize != null" >
        allocationSize = #{record.allocationsize,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pkgenerator
    set id = #{record.id,jdbcType=INTEGER},
      targetTable = #{record.targettable,jdbcType=VARCHAR},
      pkColumnName = #{record.pkcolumnname,jdbcType=VARCHAR},
      initialValue = #{record.initialvalue,jdbcType=INTEGER},
      allocationSize = #{record.allocationsize,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.miaoyou.platform.server.entity.Pkgenerator" >
    update pkgenerator
    <set >
      <if test="targettable != null" >
        targetTable = #{targettable,jdbcType=VARCHAR},
      </if>
      <if test="pkcolumnname != null" >
        pkColumnName = #{pkcolumnname,jdbcType=VARCHAR},
      </if>
      <if test="initialvalue != null" >
        initialValue = #{initialvalue,jdbcType=INTEGER},
      </if>
      <if test="allocationsize != null" >
        allocationSize = #{allocationsize,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.miaoyou.platform.server.entity.Pkgenerator" >
    update pkgenerator
    set targetTable = #{targettable,jdbcType=VARCHAR},
      pkColumnName = #{pkcolumnname,jdbcType=VARCHAR},
      initialValue = #{initialvalue,jdbcType=INTEGER},
      allocationSize = #{allocationsize,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>