<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miaoyou.platform.server.mapper.RecordcasetbMapper" >
  <cache />
  <resultMap id="BaseResultMap" type="com.miaoyou.platform.server.entity.Recordcasetb" >
    <id column="recordcaseid" property="recordcaseid" jdbcType="BIGINT" />
    <result column="patientid" property="patientid" jdbcType="BIGINT" />
    <result column="keshi" property="keshi" jdbcType="VARCHAR" />
    <result column="zhuyuanhao" property="zhuyuanhao" jdbcType="VARCHAR" />
    <result column="ruyuanriqi" property="ruyuanriqi" jdbcType="DATE" />
    <result column="chuyuanzhengduan" property="chuyuanzhengduan" jdbcType="VARCHAR" />
    <result column="chuyuanriqi" property="chuyuanriqi" jdbcType="TIMESTAMP" />
    <result column="zhurenyisheng" property="zhurenyisheng" jdbcType="VARCHAR" />
    <result column="zhuzhiyisheng" property="zhuzhiyisheng" jdbcType="VARCHAR" />
    <result column="zhuyuanyisheng" property="zhuyuanyisheng" jdbcType="VARCHAR" />
    <result column="shoushumingcheng" property="shoushumingcheng" jdbcType="VARCHAR" />
    <result column="zhudaoyisheng" property="zhudaoyisheng" jdbcType="VARCHAR" />
    <result column="shoushuriqi" property="shoushuriqi" jdbcType="TIMESTAMP" />
    <result column="zhuyuantianshu" property="zhuyuantianshu" jdbcType="VARCHAR" />
    <result column="bingliezhuangtai" property="bingliezhuangtai" jdbcType="VARCHAR" />
    <result column="zujima" property="zujima" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
    <result column="createdate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="createperson" property="createperson" jdbcType="VARCHAR" />
    <result column="updatedate" property="updatedate" jdbcType="TIMESTAMP" />
    <result column="updateperson" property="updateperson" jdbcType="VARCHAR" />
    <result column="ext1" property="ext1" jdbcType="VARCHAR" />
    <result column="ext2" property="ext2" jdbcType="VARCHAR" />
    <result column="ext3" property="ext3" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.miaoyou.platform.server.entity.RecordcasetbWithBLOBs" extends="BaseResultMap" >
    <result column="zhiyuqingkuang" property="zhiyuqingkuang" jdbcType="LONGVARCHAR" />
    <result column="chuyuanxiaojie" property="chuyuanxiaojie" jdbcType="LONGVARCHAR" />
    <result column="chuyuanyizhu" property="chuyuanyizhu" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    recordcaseid, patientid, keshi, zhuyuanhao, ruyuanriqi, chuyuanzhengduan, chuyuanriqi, 
    zhurenyisheng, zhuzhiyisheng, zhuyuanyisheng, shoushumingcheng, zhudaoyisheng, shoushuriqi, 
    zhuyuantianshu, bingliezhuangtai, zujima, delete_flag, createdate, createperson, 
    updatedate, updateperson, ext1, ext2, ext3
  </sql>
  <sql id="Blob_Column_List" >
    zhiyuqingkuang, chuyuanxiaojie, chuyuanyizhu
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.miaoyou.platform.server.entity.RecordcasetbExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from recordcasetb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.miaoyou.platform.server.entity.RecordcasetbExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from recordcasetb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="groupby != null" >
      group by ${groupby}
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from recordcasetb
    where recordcaseid = #{recordcaseid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from recordcasetb
    where recordcaseid = #{recordcaseid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.miaoyou.platform.server.entity.RecordcasetbExample" >
    delete from recordcasetb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.miaoyou.platform.server.entity.RecordcasetbWithBLOBs" >
    insert into recordcasetb (recordcaseid, patientid, keshi, 
      zhuyuanhao, ruyuanriqi, chuyuanzhengduan, 
      chuyuanriqi, zhurenyisheng, zhuzhiyisheng, 
      zhuyuanyisheng, shoushumingcheng, zhudaoyisheng, 
      shoushuriqi, zhuyuantianshu, bingliezhuangtai, 
      zujima, delete_flag, createdate, 
      createperson, updatedate, updateperson, 
      ext1, ext2, ext3, zhiyuqingkuang, 
      chuyuanxiaojie, chuyuanyizhu)
    values (#{recordcaseid,jdbcType=BIGINT}, #{patientid,jdbcType=BIGINT}, #{keshi,jdbcType=VARCHAR}, 
      #{zhuyuanhao,jdbcType=VARCHAR}, #{ruyuanriqi,jdbcType=DATE}, #{chuyuanzhengduan,jdbcType=VARCHAR}, 
      #{chuyuanriqi,jdbcType=TIMESTAMP}, #{zhurenyisheng,jdbcType=VARCHAR}, #{zhuzhiyisheng,jdbcType=VARCHAR}, 
      #{zhuyuanyisheng,jdbcType=VARCHAR}, #{shoushumingcheng,jdbcType=VARCHAR}, #{zhudaoyisheng,jdbcType=VARCHAR}, 
      #{shoushuriqi,jdbcType=TIMESTAMP}, #{zhuyuantianshu,jdbcType=VARCHAR}, #{bingliezhuangtai,jdbcType=VARCHAR}, 
      #{zujima,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=INTEGER}, #{createdate,jdbcType=TIMESTAMP}, 
      #{createperson,jdbcType=VARCHAR}, #{updatedate,jdbcType=TIMESTAMP}, #{updateperson,jdbcType=VARCHAR}, 
      #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR}, #{zhiyuqingkuang,jdbcType=LONGVARCHAR}, 
      #{chuyuanxiaojie,jdbcType=LONGVARCHAR}, #{chuyuanyizhu,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.miaoyou.platform.server.entity.RecordcasetbWithBLOBs" >
    insert into recordcasetb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordcaseid != null" >
        recordcaseid,
      </if>
      <if test="patientid != null" >
        patientid,
      </if>
      <if test="keshi != null" >
        keshi,
      </if>
      <if test="zhuyuanhao != null" >
        zhuyuanhao,
      </if>
      <if test="ruyuanriqi != null" >
        ruyuanriqi,
      </if>
      <if test="chuyuanzhengduan != null" >
        chuyuanzhengduan,
      </if>
      <if test="chuyuanriqi != null" >
        chuyuanriqi,
      </if>
      <if test="zhurenyisheng != null" >
        zhurenyisheng,
      </if>
      <if test="zhuzhiyisheng != null" >
        zhuzhiyisheng,
      </if>
      <if test="zhuyuanyisheng != null" >
        zhuyuanyisheng,
      </if>
      <if test="shoushumingcheng != null" >
        shoushumingcheng,
      </if>
      <if test="zhudaoyisheng != null" >
        zhudaoyisheng,
      </if>
      <if test="shoushuriqi != null" >
        shoushuriqi,
      </if>
      <if test="zhuyuantianshu != null" >
        zhuyuantianshu,
      </if>
      <if test="bingliezhuangtai != null" >
        bingliezhuangtai,
      </if>
      <if test="zujima != null" >
        zujima,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
      <if test="createperson != null" >
        createperson,
      </if>
      <if test="updatedate != null" >
        updatedate,
      </if>
      <if test="updateperson != null" >
        updateperson,
      </if>
      <if test="ext1 != null" >
        ext1,
      </if>
      <if test="ext2 != null" >
        ext2,
      </if>
      <if test="ext3 != null" >
        ext3,
      </if>
      <if test="zhiyuqingkuang != null" >
        zhiyuqingkuang,
      </if>
      <if test="chuyuanxiaojie != null" >
        chuyuanxiaojie,
      </if>
      <if test="chuyuanyizhu != null" >
        chuyuanyizhu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordcaseid != null" >
        #{recordcaseid,jdbcType=BIGINT},
      </if>
      <if test="patientid != null" >
        #{patientid,jdbcType=BIGINT},
      </if>
      <if test="keshi != null" >
        #{keshi,jdbcType=VARCHAR},
      </if>
      <if test="zhuyuanhao != null" >
        #{zhuyuanhao,jdbcType=VARCHAR},
      </if>
      <if test="ruyuanriqi != null" >
        #{ruyuanriqi,jdbcType=DATE},
      </if>
      <if test="chuyuanzhengduan != null" >
        #{chuyuanzhengduan,jdbcType=VARCHAR},
      </if>
      <if test="chuyuanriqi != null" >
        #{chuyuanriqi,jdbcType=TIMESTAMP},
      </if>
      <if test="zhurenyisheng != null" >
        #{zhurenyisheng,jdbcType=VARCHAR},
      </if>
      <if test="zhuzhiyisheng != null" >
        #{zhuzhiyisheng,jdbcType=VARCHAR},
      </if>
      <if test="zhuyuanyisheng != null" >
        #{zhuyuanyisheng,jdbcType=VARCHAR},
      </if>
      <if test="shoushumingcheng != null" >
        #{shoushumingcheng,jdbcType=VARCHAR},
      </if>
      <if test="zhudaoyisheng != null" >
        #{zhudaoyisheng,jdbcType=VARCHAR},
      </if>
      <if test="shoushuriqi != null" >
        #{shoushuriqi,jdbcType=TIMESTAMP},
      </if>
      <if test="zhuyuantianshu != null" >
        #{zhuyuantianshu,jdbcType=VARCHAR},
      </if>
      <if test="bingliezhuangtai != null" >
        #{bingliezhuangtai,jdbcType=VARCHAR},
      </if>
      <if test="zujima != null" >
        #{zujima,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createperson != null" >
        #{createperson,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateperson != null" >
        #{updateperson,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="zhiyuqingkuang != null" >
        #{zhiyuqingkuang,jdbcType=LONGVARCHAR},
      </if>
      <if test="chuyuanxiaojie != null" >
        #{chuyuanxiaojie,jdbcType=LONGVARCHAR},
      </if>
      <if test="chuyuanyizhu != null" >
        #{chuyuanyizhu,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.miaoyou.platform.server.entity.RecordcasetbExample" resultType="java.lang.Integer" >
    select count(*) from recordcasetb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update recordcasetb
    <set >
      <if test="record.recordcaseid != null" >
        recordcaseid = #{record.recordcaseid,jdbcType=BIGINT},
      </if>
      <if test="record.patientid != null" >
        patientid = #{record.patientid,jdbcType=BIGINT},
      </if>
      <if test="record.keshi != null" >
        keshi = #{record.keshi,jdbcType=VARCHAR},
      </if>
      <if test="record.zhuyuanhao != null" >
        zhuyuanhao = #{record.zhuyuanhao,jdbcType=VARCHAR},
      </if>
      <if test="record.ruyuanriqi != null" >
        ruyuanriqi = #{record.ruyuanriqi,jdbcType=DATE},
      </if>
      <if test="record.chuyuanzhengduan != null" >
        chuyuanzhengduan = #{record.chuyuanzhengduan,jdbcType=VARCHAR},
      </if>
      <if test="record.chuyuanriqi != null" >
        chuyuanriqi = #{record.chuyuanriqi,jdbcType=TIMESTAMP},
      </if>
      <if test="record.zhurenyisheng != null" >
        zhurenyisheng = #{record.zhurenyisheng,jdbcType=VARCHAR},
      </if>
      <if test="record.zhuzhiyisheng != null" >
        zhuzhiyisheng = #{record.zhuzhiyisheng,jdbcType=VARCHAR},
      </if>
      <if test="record.zhuyuanyisheng != null" >
        zhuyuanyisheng = #{record.zhuyuanyisheng,jdbcType=VARCHAR},
      </if>
      <if test="record.shoushumingcheng != null" >
        shoushumingcheng = #{record.shoushumingcheng,jdbcType=VARCHAR},
      </if>
      <if test="record.zhudaoyisheng != null" >
        zhudaoyisheng = #{record.zhudaoyisheng,jdbcType=VARCHAR},
      </if>
      <if test="record.shoushuriqi != null" >
        shoushuriqi = #{record.shoushuriqi,jdbcType=TIMESTAMP},
      </if>
      <if test="record.zhuyuantianshu != null" >
        zhuyuantianshu = #{record.zhuyuantianshu,jdbcType=VARCHAR},
      </if>
      <if test="record.bingliezhuangtai != null" >
        bingliezhuangtai = #{record.bingliezhuangtai,jdbcType=VARCHAR},
      </if>
      <if test="record.zujima != null" >
        zujima = #{record.zujima,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteFlag != null" >
        delete_flag = #{record.deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="record.createdate != null" >
        createdate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createperson != null" >
        createperson = #{record.createperson,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedate != null" >
        updatedate = #{record.updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateperson != null" >
        updateperson = #{record.updateperson,jdbcType=VARCHAR},
      </if>
      <if test="record.ext1 != null" >
        ext1 = #{record.ext1,jdbcType=VARCHAR},
      </if>
      <if test="record.ext2 != null" >
        ext2 = #{record.ext2,jdbcType=VARCHAR},
      </if>
      <if test="record.ext3 != null" >
        ext3 = #{record.ext3,jdbcType=VARCHAR},
      </if>
      <if test="record.zhiyuqingkuang != null" >
        zhiyuqingkuang = #{record.zhiyuqingkuang,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.chuyuanxiaojie != null" >
        chuyuanxiaojie = #{record.chuyuanxiaojie,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.chuyuanyizhu != null" >
        chuyuanyizhu = #{record.chuyuanyizhu,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update recordcasetb
    set recordcaseid = #{record.recordcaseid,jdbcType=BIGINT},
      patientid = #{record.patientid,jdbcType=BIGINT},
      keshi = #{record.keshi,jdbcType=VARCHAR},
      zhuyuanhao = #{record.zhuyuanhao,jdbcType=VARCHAR},
      ruyuanriqi = #{record.ruyuanriqi,jdbcType=DATE},
      chuyuanzhengduan = #{record.chuyuanzhengduan,jdbcType=VARCHAR},
      chuyuanriqi = #{record.chuyuanriqi,jdbcType=TIMESTAMP},
      zhurenyisheng = #{record.zhurenyisheng,jdbcType=VARCHAR},
      zhuzhiyisheng = #{record.zhuzhiyisheng,jdbcType=VARCHAR},
      zhuyuanyisheng = #{record.zhuyuanyisheng,jdbcType=VARCHAR},
      shoushumingcheng = #{record.shoushumingcheng,jdbcType=VARCHAR},
      zhudaoyisheng = #{record.zhudaoyisheng,jdbcType=VARCHAR},
      shoushuriqi = #{record.shoushuriqi,jdbcType=TIMESTAMP},
      zhuyuantianshu = #{record.zhuyuantianshu,jdbcType=VARCHAR},
      bingliezhuangtai = #{record.bingliezhuangtai,jdbcType=VARCHAR},
      zujima = #{record.zujima,jdbcType=VARCHAR},
      delete_flag = #{record.deleteFlag,jdbcType=INTEGER},
      createdate = #{record.createdate,jdbcType=TIMESTAMP},
      createperson = #{record.createperson,jdbcType=VARCHAR},
      updatedate = #{record.updatedate,jdbcType=TIMESTAMP},
      updateperson = #{record.updateperson,jdbcType=VARCHAR},
      ext1 = #{record.ext1,jdbcType=VARCHAR},
      ext2 = #{record.ext2,jdbcType=VARCHAR},
      ext3 = #{record.ext3,jdbcType=VARCHAR},
      zhiyuqingkuang = #{record.zhiyuqingkuang,jdbcType=LONGVARCHAR},
      chuyuanxiaojie = #{record.chuyuanxiaojie,jdbcType=LONGVARCHAR},
      chuyuanyizhu = #{record.chuyuanyizhu,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update recordcasetb
    set recordcaseid = #{record.recordcaseid,jdbcType=BIGINT},
      patientid = #{record.patientid,jdbcType=BIGINT},
      keshi = #{record.keshi,jdbcType=VARCHAR},
      zhuyuanhao = #{record.zhuyuanhao,jdbcType=VARCHAR},
      ruyuanriqi = #{record.ruyuanriqi,jdbcType=DATE},
      chuyuanzhengduan = #{record.chuyuanzhengduan,jdbcType=VARCHAR},
      chuyuanriqi = #{record.chuyuanriqi,jdbcType=TIMESTAMP},
      zhurenyisheng = #{record.zhurenyisheng,jdbcType=VARCHAR},
      zhuzhiyisheng = #{record.zhuzhiyisheng,jdbcType=VARCHAR},
      zhuyuanyisheng = #{record.zhuyuanyisheng,jdbcType=VARCHAR},
      shoushumingcheng = #{record.shoushumingcheng,jdbcType=VARCHAR},
      zhudaoyisheng = #{record.zhudaoyisheng,jdbcType=VARCHAR},
      shoushuriqi = #{record.shoushuriqi,jdbcType=TIMESTAMP},
      zhuyuantianshu = #{record.zhuyuantianshu,jdbcType=VARCHAR},
      bingliezhuangtai = #{record.bingliezhuangtai,jdbcType=VARCHAR},
      zujima = #{record.zujima,jdbcType=VARCHAR},
      delete_flag = #{record.deleteFlag,jdbcType=INTEGER},
      createdate = #{record.createdate,jdbcType=TIMESTAMP},
      createperson = #{record.createperson,jdbcType=VARCHAR},
      updatedate = #{record.updatedate,jdbcType=TIMESTAMP},
      updateperson = #{record.updateperson,jdbcType=VARCHAR},
      ext1 = #{record.ext1,jdbcType=VARCHAR},
      ext2 = #{record.ext2,jdbcType=VARCHAR},
      ext3 = #{record.ext3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.miaoyou.platform.server.entity.RecordcasetbWithBLOBs" >
    update recordcasetb
    <set >
      <if test="patientid != null" >
        patientid = #{patientid,jdbcType=BIGINT},
      </if>
      <if test="keshi != null" >
        keshi = #{keshi,jdbcType=VARCHAR},
      </if>
      <if test="zhuyuanhao != null" >
        zhuyuanhao = #{zhuyuanhao,jdbcType=VARCHAR},
      </if>
      <if test="ruyuanriqi != null" >
        ruyuanriqi = #{ruyuanriqi,jdbcType=DATE},
      </if>
      <if test="chuyuanzhengduan != null" >
        chuyuanzhengduan = #{chuyuanzhengduan,jdbcType=VARCHAR},
      </if>
      <if test="chuyuanriqi != null" >
        chuyuanriqi = #{chuyuanriqi,jdbcType=TIMESTAMP},
      </if>
      <if test="zhurenyisheng != null" >
        zhurenyisheng = #{zhurenyisheng,jdbcType=VARCHAR},
      </if>
      <if test="zhuzhiyisheng != null" >
        zhuzhiyisheng = #{zhuzhiyisheng,jdbcType=VARCHAR},
      </if>
      <if test="zhuyuanyisheng != null" >
        zhuyuanyisheng = #{zhuyuanyisheng,jdbcType=VARCHAR},
      </if>
      <if test="shoushumingcheng != null" >
        shoushumingcheng = #{shoushumingcheng,jdbcType=VARCHAR},
      </if>
      <if test="zhudaoyisheng != null" >
        zhudaoyisheng = #{zhudaoyisheng,jdbcType=VARCHAR},
      </if>
      <if test="shoushuriqi != null" >
        shoushuriqi = #{shoushuriqi,jdbcType=TIMESTAMP},
      </if>
      <if test="zhuyuantianshu != null" >
        zhuyuantianshu = #{zhuyuantianshu,jdbcType=VARCHAR},
      </if>
      <if test="bingliezhuangtai != null" >
        bingliezhuangtai = #{bingliezhuangtai,jdbcType=VARCHAR},
      </if>
      <if test="zujima != null" >
        zujima = #{zujima,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createperson != null" >
        createperson = #{createperson,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        updatedate = #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateperson != null" >
        updateperson = #{updateperson,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        ext1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        ext2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        ext3 = #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="zhiyuqingkuang != null" >
        zhiyuqingkuang = #{zhiyuqingkuang,jdbcType=LONGVARCHAR},
      </if>
      <if test="chuyuanxiaojie != null" >
        chuyuanxiaojie = #{chuyuanxiaojie,jdbcType=LONGVARCHAR},
      </if>
      <if test="chuyuanyizhu != null" >
        chuyuanyizhu = #{chuyuanyizhu,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where recordcaseid = #{recordcaseid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.miaoyou.platform.server.entity.RecordcasetbWithBLOBs" >
    update recordcasetb
    set patientid = #{patientid,jdbcType=BIGINT},
      keshi = #{keshi,jdbcType=VARCHAR},
      zhuyuanhao = #{zhuyuanhao,jdbcType=VARCHAR},
      ruyuanriqi = #{ruyuanriqi,jdbcType=DATE},
      chuyuanzhengduan = #{chuyuanzhengduan,jdbcType=VARCHAR},
      chuyuanriqi = #{chuyuanriqi,jdbcType=TIMESTAMP},
      zhurenyisheng = #{zhurenyisheng,jdbcType=VARCHAR},
      zhuzhiyisheng = #{zhuzhiyisheng,jdbcType=VARCHAR},
      zhuyuanyisheng = #{zhuyuanyisheng,jdbcType=VARCHAR},
      shoushumingcheng = #{shoushumingcheng,jdbcType=VARCHAR},
      zhudaoyisheng = #{zhudaoyisheng,jdbcType=VARCHAR},
      shoushuriqi = #{shoushuriqi,jdbcType=TIMESTAMP},
      zhuyuantianshu = #{zhuyuantianshu,jdbcType=VARCHAR},
      bingliezhuangtai = #{bingliezhuangtai,jdbcType=VARCHAR},
      zujima = #{zujima,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      createdate = #{createdate,jdbcType=TIMESTAMP},
      createperson = #{createperson,jdbcType=VARCHAR},
      updatedate = #{updatedate,jdbcType=TIMESTAMP},
      updateperson = #{updateperson,jdbcType=VARCHAR},
      ext1 = #{ext1,jdbcType=VARCHAR},
      ext2 = #{ext2,jdbcType=VARCHAR},
      ext3 = #{ext3,jdbcType=VARCHAR},
      zhiyuqingkuang = #{zhiyuqingkuang,jdbcType=LONGVARCHAR},
      chuyuanxiaojie = #{chuyuanxiaojie,jdbcType=LONGVARCHAR},
      chuyuanyizhu = #{chuyuanyizhu,jdbcType=LONGVARCHAR}
    where recordcaseid = #{recordcaseid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.miaoyou.platform.server.entity.Recordcasetb" >
    update recordcasetb
    set patientid = #{patientid,jdbcType=BIGINT},
      keshi = #{keshi,jdbcType=VARCHAR},
      zhuyuanhao = #{zhuyuanhao,jdbcType=VARCHAR},
      ruyuanriqi = #{ruyuanriqi,jdbcType=DATE},
      chuyuanzhengduan = #{chuyuanzhengduan,jdbcType=VARCHAR},
      chuyuanriqi = #{chuyuanriqi,jdbcType=TIMESTAMP},
      zhurenyisheng = #{zhurenyisheng,jdbcType=VARCHAR},
      zhuzhiyisheng = #{zhuzhiyisheng,jdbcType=VARCHAR},
      zhuyuanyisheng = #{zhuyuanyisheng,jdbcType=VARCHAR},
      shoushumingcheng = #{shoushumingcheng,jdbcType=VARCHAR},
      zhudaoyisheng = #{zhudaoyisheng,jdbcType=VARCHAR},
      shoushuriqi = #{shoushuriqi,jdbcType=TIMESTAMP},
      zhuyuantianshu = #{zhuyuantianshu,jdbcType=VARCHAR},
      bingliezhuangtai = #{bingliezhuangtai,jdbcType=VARCHAR},
      zujima = #{zujima,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      createdate = #{createdate,jdbcType=TIMESTAMP},
      createperson = #{createperson,jdbcType=VARCHAR},
      updatedate = #{updatedate,jdbcType=TIMESTAMP},
      updateperson = #{updateperson,jdbcType=VARCHAR},
      ext1 = #{ext1,jdbcType=VARCHAR},
      ext2 = #{ext2,jdbcType=VARCHAR},
      ext3 = #{ext3,jdbcType=VARCHAR}
    where recordcaseid = #{recordcaseid,jdbcType=BIGINT}
  </update>
</mapper>