<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miaoyou.platform.server.mapper.RsdnssvtbaddMapper" >
  <cache />
  <resultMap id="BaseResultMap" type="com.miaoyou.platform.server.entity.RsdnssvtbaddKey" >
    <id column="diagnosis_id" property="diagnosisId" jdbcType="BIGINT" />
    <id column="survery_id" property="surveryId" jdbcType="BIGINT" />
    <id column="surverydetail_id" property="surverydetailId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    diagnosis_id, survery_id, surverydetail_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.miaoyou.platform.server.entity.RsdnssvtbaddExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rs_dns_sv_add
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="groupby != null" >
      group by ${groupby}
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.miaoyou.platform.server.entity.RsdnssvtbaddKey" >
    delete from rs_dns_sv_add
    where diagnosis_id = #{diagnosisId,jdbcType=BIGINT}
      and survery_id = #{surveryId,jdbcType=BIGINT}
      and surverydetail_id = #{surverydetailId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.miaoyou.platform.server.entity.RsdnssvtbaddExample" >
    delete from rs_dns_sv_add
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.miaoyou.platform.server.entity.RsdnssvtbaddKey" >
    insert into rs_dns_sv_add (diagnosis_id, survery_id, surverydetail_id
      )
    values (#{diagnosisId,jdbcType=BIGINT}, #{surveryId,jdbcType=BIGINT}, #{surverydetailId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.miaoyou.platform.server.entity.RsdnssvtbaddKey" >
    insert into rs_dns_sv_add
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="diagnosisId != null" >
        diagnosis_id,
      </if>
      <if test="surveryId != null" >
        survery_id,
      </if>
      <if test="surverydetailId != null" >
        surverydetail_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="diagnosisId != null" >
        #{diagnosisId,jdbcType=BIGINT},
      </if>
      <if test="surveryId != null" >
        #{surveryId,jdbcType=BIGINT},
      </if>
      <if test="surverydetailId != null" >
        #{surverydetailId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.miaoyou.platform.server.entity.RsdnssvtbaddExample" resultType="java.lang.Integer" >
    select count(*) from rs_dns_sv_add
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update rs_dns_sv_add
    <set >
      <if test="record.diagnosisId != null" >
        diagnosis_id = #{record.diagnosisId,jdbcType=BIGINT},
      </if>
      <if test="record.surveryId != null" >
        survery_id = #{record.surveryId,jdbcType=BIGINT},
      </if>
      <if test="record.surverydetailId != null" >
        surverydetail_id = #{record.surverydetailId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update rs_dns_sv_add
    set diagnosis_id = #{record.diagnosisId,jdbcType=BIGINT},
      survery_id = #{record.surveryId,jdbcType=BIGINT},
      surverydetail_id = #{record.surverydetailId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>