<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miaoyou.platform.server.mapper.SfplansmsHistorytbMapper" >
  <cache />
  <resultMap id="BaseResultMap" type="com.miaoyou.platform.server.entity.SfplansmsHistorytb" >
    <id column="smsplan_id" property="smsplanId" jdbcType="BIGINT" />
    <result column="patientid" property="patientid" jdbcType="BIGINT" />
    <result column="smscontext" property="smscontext" jdbcType="VARCHAR" />
    <result column="smstype_name" property="smstypeName" jdbcType="VARCHAR" />
    <result column="plantype" property="plantype" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="planfreq" property="planfreq" jdbcType="INTEGER" />
    <result column="plannumber" property="plannumber" jdbcType="INTEGER" />
    <result column="plannexttime" property="plannexttime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="zujima" property="zujima" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
    <result column="createdate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="createperson" property="createperson" jdbcType="VARCHAR" />
    <result column="updatedate" property="updatedate" jdbcType="TIMESTAMP" />
    <result column="updateperson" property="updateperson" jdbcType="VARCHAR" />
    <result column="ext1" property="ext1" jdbcType="VARCHAR" />
    <result column="ext2" property="ext2" jdbcType="VARCHAR" />
    <result column="ext3" property="ext3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    smsplan_id, patientid, smscontext, smstype_name, plantype, status, planfreq, plannumber, 
    plannexttime, user_id, remark, zujima, delete_flag, createdate, createperson, updatedate, 
    updateperson, ext1, ext2, ext3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.miaoyou.platform.server.entity.SfplansmsHistorytbExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sfplansms_historytb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="groupby != null" >
      group by ${groupby}
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sfplansms_historytb
    where smsplan_id = #{smsplanId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sfplansms_historytb
    where smsplan_id = #{smsplanId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.miaoyou.platform.server.entity.SfplansmsHistorytbExample" >
    delete from sfplansms_historytb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.miaoyou.platform.server.entity.SfplansmsHistorytb" >
    insert into sfplansms_historytb (smsplan_id, patientid, smscontext, 
      smstype_name, plantype, status, 
      planfreq, plannumber, plannexttime, 
      user_id, remark, zujima, 
      delete_flag, createdate, createperson, 
      updatedate, updateperson, ext1, 
      ext2, ext3)
    values (#{smsplanId,jdbcType=BIGINT}, #{patientid,jdbcType=BIGINT}, #{smscontext,jdbcType=VARCHAR}, 
      #{smstypeName,jdbcType=VARCHAR}, #{plantype,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{planfreq,jdbcType=INTEGER}, #{plannumber,jdbcType=INTEGER}, #{plannexttime,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{zujima,jdbcType=VARCHAR}, 
      #{deleteFlag,jdbcType=INTEGER}, #{createdate,jdbcType=TIMESTAMP}, #{createperson,jdbcType=VARCHAR}, 
      #{updatedate,jdbcType=TIMESTAMP}, #{updateperson,jdbcType=VARCHAR}, #{ext1,jdbcType=VARCHAR}, 
      #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.miaoyou.platform.server.entity.SfplansmsHistorytb" >
    insert into sfplansms_historytb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="smsplanId != null" >
        smsplan_id,
      </if>
      <if test="patientid != null" >
        patientid,
      </if>
      <if test="smscontext != null" >
        smscontext,
      </if>
      <if test="smstypeName != null" >
        smstype_name,
      </if>
      <if test="plantype != null" >
        plantype,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="planfreq != null" >
        planfreq,
      </if>
      <if test="plannumber != null" >
        plannumber,
      </if>
      <if test="plannexttime != null" >
        plannexttime,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="zujima != null" >
        zujima,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
      <if test="createperson != null" >
        createperson,
      </if>
      <if test="updatedate != null" >
        updatedate,
      </if>
      <if test="updateperson != null" >
        updateperson,
      </if>
      <if test="ext1 != null" >
        ext1,
      </if>
      <if test="ext2 != null" >
        ext2,
      </if>
      <if test="ext3 != null" >
        ext3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="smsplanId != null" >
        #{smsplanId,jdbcType=BIGINT},
      </if>
      <if test="patientid != null" >
        #{patientid,jdbcType=BIGINT},
      </if>
      <if test="smscontext != null" >
        #{smscontext,jdbcType=VARCHAR},
      </if>
      <if test="smstypeName != null" >
        #{smstypeName,jdbcType=VARCHAR},
      </if>
      <if test="plantype != null" >
        #{plantype,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="planfreq != null" >
        #{planfreq,jdbcType=INTEGER},
      </if>
      <if test="plannumber != null" >
        #{plannumber,jdbcType=INTEGER},
      </if>
      <if test="plannexttime != null" >
        #{plannexttime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="zujima != null" >
        #{zujima,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createperson != null" >
        #{createperson,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateperson != null" >
        #{updateperson,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        #{ext3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.miaoyou.platform.server.entity.SfplansmsHistorytbExample" resultType="java.lang.Integer" >
    select count(*) from sfplansms_historytb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sfplansms_historytb
    <set >
      <if test="record.smsplanId != null" >
        smsplan_id = #{record.smsplanId,jdbcType=BIGINT},
      </if>
      <if test="record.patientid != null" >
        patientid = #{record.patientid,jdbcType=BIGINT},
      </if>
      <if test="record.smscontext != null" >
        smscontext = #{record.smscontext,jdbcType=VARCHAR},
      </if>
      <if test="record.smstypeName != null" >
        smstype_name = #{record.smstypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.plantype != null" >
        plantype = #{record.plantype,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.planfreq != null" >
        planfreq = #{record.planfreq,jdbcType=INTEGER},
      </if>
      <if test="record.plannumber != null" >
        plannumber = #{record.plannumber,jdbcType=INTEGER},
      </if>
      <if test="record.plannexttime != null" >
        plannexttime = #{record.plannexttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.zujima != null" >
        zujima = #{record.zujima,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteFlag != null" >
        delete_flag = #{record.deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="record.createdate != null" >
        createdate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createperson != null" >
        createperson = #{record.createperson,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedate != null" >
        updatedate = #{record.updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateperson != null" >
        updateperson = #{record.updateperson,jdbcType=VARCHAR},
      </if>
      <if test="record.ext1 != null" >
        ext1 = #{record.ext1,jdbcType=VARCHAR},
      </if>
      <if test="record.ext2 != null" >
        ext2 = #{record.ext2,jdbcType=VARCHAR},
      </if>
      <if test="record.ext3 != null" >
        ext3 = #{record.ext3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sfplansms_historytb
    set smsplan_id = #{record.smsplanId,jdbcType=BIGINT},
      patientid = #{record.patientid,jdbcType=BIGINT},
      smscontext = #{record.smscontext,jdbcType=VARCHAR},
      smstype_name = #{record.smstypeName,jdbcType=VARCHAR},
      plantype = #{record.plantype,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      planfreq = #{record.planfreq,jdbcType=INTEGER},
      plannumber = #{record.plannumber,jdbcType=INTEGER},
      plannexttime = #{record.plannexttime,jdbcType=TIMESTAMP},
      user_id = #{record.userId,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      zujima = #{record.zujima,jdbcType=VARCHAR},
      delete_flag = #{record.deleteFlag,jdbcType=INTEGER},
      createdate = #{record.createdate,jdbcType=TIMESTAMP},
      createperson = #{record.createperson,jdbcType=VARCHAR},
      updatedate = #{record.updatedate,jdbcType=TIMESTAMP},
      updateperson = #{record.updateperson,jdbcType=VARCHAR},
      ext1 = #{record.ext1,jdbcType=VARCHAR},
      ext2 = #{record.ext2,jdbcType=VARCHAR},
      ext3 = #{record.ext3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.miaoyou.platform.server.entity.SfplansmsHistorytb" >
    update sfplansms_historytb
    <set >
      <if test="patientid != null" >
        patientid = #{patientid,jdbcType=BIGINT},
      </if>
      <if test="smscontext != null" >
        smscontext = #{smscontext,jdbcType=VARCHAR},
      </if>
      <if test="smstypeName != null" >
        smstype_name = #{smstypeName,jdbcType=VARCHAR},
      </if>
      <if test="plantype != null" >
        plantype = #{plantype,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="planfreq != null" >
        planfreq = #{planfreq,jdbcType=INTEGER},
      </if>
      <if test="plannumber != null" >
        plannumber = #{plannumber,jdbcType=INTEGER},
      </if>
      <if test="plannexttime != null" >
        plannexttime = #{plannexttime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="zujima != null" >
        zujima = #{zujima,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createperson != null" >
        createperson = #{createperson,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        updatedate = #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateperson != null" >
        updateperson = #{updateperson,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        ext1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        ext2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        ext3 = #{ext3,jdbcType=VARCHAR},
      </if>
    </set>
    where smsplan_id = #{smsplanId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.miaoyou.platform.server.entity.SfplansmsHistorytb" >
    update sfplansms_historytb
    set patientid = #{patientid,jdbcType=BIGINT},
      smscontext = #{smscontext,jdbcType=VARCHAR},
      smstype_name = #{smstypeName,jdbcType=VARCHAR},
      plantype = #{plantype,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      planfreq = #{planfreq,jdbcType=INTEGER},
      plannumber = #{plannumber,jdbcType=INTEGER},
      plannexttime = #{plannexttime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      zujima = #{zujima,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      createdate = #{createdate,jdbcType=TIMESTAMP},
      createperson = #{createperson,jdbcType=VARCHAR},
      updatedate = #{updatedate,jdbcType=TIMESTAMP},
      updateperson = #{updateperson,jdbcType=VARCHAR},
      ext1 = #{ext1,jdbcType=VARCHAR},
      ext2 = #{ext2,jdbcType=VARCHAR},
      ext3 = #{ext3,jdbcType=VARCHAR}
    where smsplan_id = #{smsplanId,jdbcType=BIGINT}
  </update>
</mapper>